# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

UtilityApp/Utils\.JqueryDatatable/obj/Debug/

UtilityApp/Utils\.JqueryDatatable/bin/Debug/

UtilityApp/SignalRNotification/bin/Debug/

UtilityApp/SignalRNotification/obj/Debug/

UtilityApp/Utils\.Email/obj/Debug/

UtilityApp/Utils\.SignalRNotification/obj/Debug/

UtilityApp/Utils\.SignalRNotification/bin/Debug/

UtilityApp/Utils/obj/Debug/

UtilityApp/Utils/bin/Debug/

UtilityApp/packages/Microsoft\.AspNet\.WebPages\.3\.2\.4/lib/net45/

UtilityApp/packages/Microsoft\.AspNet\.WebPages\.3\.2\.4/

UtilityApp/packages/Microsoft\.Web\.Infrastructure\.1\.0\.0\.0/

UtilityApp/packages/Microsoft\.AspNet\.Mvc\.5\.2\.4/Content/

UtilityApp/packages/Microsoft\.AspNet\.Razor\.3\.2\.4/lib/net45/

UtilityApp/packages/Microsoft\.AspNet\.Mvc\.5\.2\.4/

UtilityApp/packages/Microsoft\.AspNet\.Razor\.3\.2\.4/

UtilityApp/\.vs/UtilityApp/v15/Server/sqlite3/storage\.ide

UtilityApp/\.vs/UtilityApp/v15/Server/sqlite3/db\.lock

UtilityApp/\.vs/UtilityApp/v15/

UtilityApp/packages/jQuery\.1\.6\.4/Content/Scripts/

UtilityApp/packages/Microsoft\.AspNet\.SignalR\.JS\.2\.2\.2/content/Scripts/

UtilityApp/packages/jQuery\.1\.6\.4/Tools/

UtilityApp/Utils/packages\.config

UtilityApp/Utils/Utils\.csproj

UtilityApp/Utils/Utils\.csproj\.user
